/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-01-2016, 12:12:16 PM
    Author     : ptobar
*/


body {
      position: relative; 
  }
  #section1 {
  padding-top:70px;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px;
  height:auto;
  color: #fff;
  background-color: #00bcd4;
  }
  #section2 {
  padding-top:30px;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px;
  height:auto;
  color: #fff; 
  background-color: #FF8000;
  
  }
  #section3 {
  padding-top:40px;
  padding-bottom:40px;
  padding-left:40px;
  padding-right:40px;
  height:auto;
  color: #fff; 
  background-color: #FA5882;
  }
  #section4 {
  padding-top:30px;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px;
  height:auto;
  color: #fff; 
  background-color: #947A5C;
  }
 }
 
 h1{
 	font-family:Book Antiqua;
 	
 }
 

    